[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
python-telegram-bot = "*"
ptbcontrib = {git = "https://github.com/python-telegram-bot/ptbcontrib.git"}

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
